<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Learning Leadership Podcast</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900">
  <link rel="stylesheet" href="{{site.url}}/fonts/icomoon/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha256-GqiEX9BuR1rv5zPU5Vs2qS/NSHl1BJyBcjQYJ6ycwD4=" crossorigin="anonymous" />

  <link rel="stylesheet" href="{{site.url}}/css/style.css">

  <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/images/favicons//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/images/favicons//apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/images/favicons//apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/images/favicons//apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/images/favicons//apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/images/favicons//apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/images/favicons//apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/images/favicons//apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{site.url}}/images/favicons//android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/images/favicons//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{site.url}}/images/favicons//favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/images/favicons//favicon-16x16.png">
  <link rel="manifest" href="{{site.url}}/images/favicons//manifest.json">
  <meta name="msapplication-TileColor" content="#ffb300">
  <meta name="msapplication-TileImage" content="{{site.url}}/images/favicons//ms-icon-144x144.png">
  <meta name="theme-color" content="#ffb300">

</head>
